* {
  background-color: rgb(255, 255, 255);
}

tr {
  border: 1px solid;
}

.button1{
  border-radius: 50%;
  
  border-color: aqua;
}
.button2{
  border-radius: 50%;
  
  border-color: green;
}
.button3{
  border-radius: 50%;
  
  border-color: red;
}


.coll{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-color: green;
  padding: 1% 1%;
}

.card-below{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-item1{
  display: flex;
  flex-direction: column;
}
.card-item2{
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 20%;

}
.discount{
  background-color: aqua;
}
.size{
  display: flex;
  flex-direction: row;

}
.card-title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-item{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 30%;
}
.card-text{
  display: flex;
  flex-direction: column;
  border-color: aqua;
}
